.main_head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 65px 150px;
  background: linear-gradient(
      180deg,
      #F9FFFE 42.05%,
      #FFFFFF 42.06%,
      #E1E1E1 100%
    ),
    linear-gradient(66.18deg, #F9FFFE 49.34%, #FFFFFF 49.35%, #E0E0E0 102.81%);
    margin-top: 40px;
}
.main_left_para {
  color: #FF7762;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 133.3%;
}
.main_left_head {
  font-family: "Objective";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #043344;
  margin: 0px
}
.main_left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
  padding: 35px 0px;
}
.main_left_top {
  padding-bottom: 8px;
}
.main_left_heading {
  width: 525px;
  padding-bottom: 4px;
}
.main_left_heading_dot {
  color: #32C69A;
}
.main_left_paragraph {
  font-family: "Objective";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  color: #205260;
}
.text_bold{
    font-weight: 700;
}
.main_left_div{
    width: 350px;
    height: 140px;
}
.main_left_list {
  font-family: "Objective";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 210%;
  color: #32C69A;
  /* margin-left: -12px; */
}
.main_left_div2{
    margin: 10px 20px
}
.main_left_btn {
  background: #FF7762;
  box-shadow: 0px 24px 38px 3px rgba(50, 198, 176, 0.1),
    0px 9px 46px 8px rgba(50, 198, 176, 0.08),
    0px 11px 15px -7px rgba(50, 198, 176, 0.16);
  border-radius: 4px;
  border: none;
  padding: 12px 24px;
  width: 225px;
  height: 48px;
  font-family: "Objective";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  word-spacing: 1px;
}
.btn_txt {
  width: 215px;
  height: 24px;
  font-family: "Objective";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  word-spacing: 1px;
}
.main_right {
  display: flex;
  width: 50%;
  position: relative;
}
.main_right_img {
  /* position: absolute; */
}
.main_image_pic {
  width: 536px;
  height: 689px;
}
.calender_img {
  position: absolute;
  box-shadow: 0px 24px 38px 3px rgba(93, 114, 140, 0.1), 0px 9px 46px 8px rgba(93, 114, 140, 0.08), 0px 11px 15px -7px rgba(93, 114, 140, 0.16);
  background-color: white;
  padding: 12px 12px;
  bottom: 43px;
  left: -60px;
  border-radius: 3px;
}
.remotework_img {
  position: absolute;
  bottom: 55px;
  left: 365px;
}
.Emoji_img {
  position: absolute;
  left: 415px;
  top: 80px;
}