.main_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 280px;
  border: 2px solid;
  border-radius: 4px;
}
.card_heading_tag {
  font-family: "Objective";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 17px;
  flex-wrap: wrap;
  text-align: center;
  width: 280px;
}
.card_description_tag {
  font-family: "Objective";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  width: 173px;
  text-align: center;
  line-height: 20.3px;
}
.img_tag {
  display: flex;
  width: 64px;
  height: 64px;
}

.mt-4 {
  margin: 16px 0px;
}
